<div class="field">
  <%= f.label :text, class: 'label is-medium' %>
  <p class="control">
    <%= f.text_area :text, class: 'textarea is-medium', rows: '5' %>
  </p>
</div>

<div class="field">
  <%= f.label :data, class: 'label is-medium' %>
  <p class="control">
    <%= f.text_area :data, class: 'textarea is-medium', rows: '5' %>
  </p>
</div>

<div class="field">
  <%= f.label :template_id, class: 'label' %>
  <p class="control has-icons-left">
    <span class="select">
      <%= f.select :template_id, @templates.messages.collect { |t| [ t.name, t.id ] }, { include_blank: "-- #{t(:select)} --" }, { class: 'is-medium' } %>
    </span>
    <span class="icon is-small is-left">
      <i class="fa fa-clone" aria-hidden="true"></i>
    </span>
  </p>
</div>
