<div class="field">
  <%= f.label :category, class: 'label' %>
  <p class="control has-icons-left">
    <span class="select is-medium">
      <%= f.select :category, Compendico::Template.categories.map { |f| [t("template_categories.#{f}"), f] }, { include_blank: "-- #{t(:select)} --" }%>
    </span>
    <span class="icon is-small is-left">
      <i class="fa fa-object-group" aria-hidden="true"></i>
    </span>
  </p>
</div>

<div class="field">
  <%= f.label :name, class: 'label required' %>
  <p class="control has-icons-left">
    <%= f.text_field :name, class: 'input is-medium', required: true %>
    <span class="icon is-small is-left">
      <i class="fa fa-sitemap" aria-hidden="true"></i>
    </span>
  </p>
</div>

<div class="spacer"></div>

<p>Templates require a variable to replace. If you are creating a digest template, it must contain:

<pre>{{ digest }}</pre>

The contents of that variable will be replace with the digest contents.

For a message template, use:

<pre>{{ message }}</pre>

<div class="spacer"></div>

<div class="field">
  <%= f.label :markup, class: 'label is-medium' %>
  <p class="control">
    <%= f.text_area :markup, class: 'textarea is-medium' %>
  </p>
  <p class="help">The markup uses <a href="https://shopify.github.io/liquid/">Liquid</a>.</p>
</div>

