<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <%= breadcrumb(@organization) do %>
      <%= content_tag(:li, link_to(t(:templates), organization_templates_path(@organization))) %>
    <% end %>

    <%= content_tag :h1, @template.name, class: 'title' %>

    <%= form_for @template, url: organization_template_path(@organization, @template) do |f| %>
      <%= render 'form', f: f %>

      <div class="field">
        <p class="control">
          <%= f.submit t(:update), class: 'button is-success' %>
        </p>
        <p class="control">
          <%= link_to organization_template_path(@organization, @template), method: :delete, class: 'button is-link is-danger', data: { confirm: t(:are_you_sure) } do %>
            <span class="icon is-small is-left">
              <i class="fa fa-trash"></i>
            </span>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>
