<div class="field">
  <%= f.label :subject, class: 'label' %>
  <p class="control has-icons-left">
    <%= f.text_field :subject, class: 'input is-medium' %>
    <span class="icon is-small is-left">
      <i class="fa fa-inbox" aria-hidden="true"></i>
    </span>
  </p>
</div>

<div class="field">
  <%= f.label :from_email, class: 'label' %>
  <p class="control select is-multiple">
    <%= f.select :from_email, options_for_select(@organization.emails.sender.order(:address).map { |e| [e.address, e.id] }), { selected: f.object.from_email.present? ? f.object.from_email.id : nil }, { multiple: true, size: [@organization.emails.sender.size + 1, 2].max } %>
  </p>
</div>

<div class="spacer"></div>

<%= content_tag :h3, t(:schedule_instructions), class: 'subtitle' %>
<%= content_tag :p, t(:schedule_instructions_text).html_safe %>

<div class="spacer"></div>

<div class="field">
  <%= f.label :frequency, class: 'label' %>
  <p class="control has-icons-left">
    <%= f.number_field :frequency, class: 'input is-medium' %>
    <span class="icon is-small is-left">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </span>
  </p>
</div>

<div class="field">
  <%= f.label :interval, class: 'label' %>
  <p class="control has-icons-left">
    <span class="select is-medium">
      <%= f.select :interval, Compendico::Digest.intervals.map { |f| [t("intervals.#{f}"), f] }, {}, { class: 'is-medium' } %>
    </span>
    <span class="icon is-small is-left">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </span>
  </p>
</div>

<div class="field">
  <%= f.label :send_at, class: 'label' %>
  <p class="control has-icons-left">
    <%= f.date_field :send_at, class: 'input is-medium' %>
    <span class="icon is-small is-left">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </span>
  </p>
</div>

<div class="spacer"></div>

<%= content_tag :h3, t(:template), class: 'subtitle' %>

<% if @digest_templates.any? %>
  <div class="field">
    <%= f.label :template_id, class: 'label' %>
    <p class="control has-icons-left">
      <span class="select is-medium">
        <%= f.select :template_id, @digest_templates.collect { |t| [ t.name, t.id ] }, { include_blank: "-- #{t(:select)} --" }, { class: 'is-medium' } %>
      </span>
      <span class="icon is-small is-left">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </span>
    </p>
  </div>
<% else %>
  <p>
    <%= link_to t(:new), new_organization_template_path(organization_id: @organization.id, category: 'digest'), class: 'button is-success' %>
  </p>
<% end %>

<div class="spacer"></div>

<div class="field">
  <%= f.label :text, class: 'label is-medium' %>
  <p class="control">
    <%= f.text_area :text, class: 'textarea is-medium', rows: '5' %>
  </p>
</div>

<div class="field">
  <%= f.label :data, class: 'label is-medium' %>
  <p class="control">
    <%= f.text_area :data, class: 'textarea is-medium', rows: '5' %>
  </p>
</div>

<div class="messages-list">
  <%= content_tag :h3, t(:messages), class: 'subtitle' %>

  <%= f.fields_for :messages do |message| %>
    <%= render 'message_fields', f: message %>
  <% end %>

  <div class="links">
    <%= link_to_add_association t(:add_message), f, :messages, class: 'button' %>
  </div>
</div>
