<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <%= breadcrumb(@organization) do %>
      <%= content_tag(:li, link_to(t(:digests), organization_digest_path(@organization))) %>
    <% end %>

    <%= content_tag :h1, t(:digest_setup), class: 'title' %>

    <%= form_for @digest, url: organization_digest_path(@organization, @digest) do |f| %>
      <%= render 'form', f: f %>

      <div class="field">
        <p class="control">
          <%= f.submit t(:update), class: 'button is-success' %>
          <a class="button remove_fields existing" href="#">
            <span class="icon is-small is-left">
              <i class="fa fa-trash"></i>
            </span>
          </a>
        </p>
      </div>
    <% end %>
  </div>
</div>
