<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <%= breadcrumb(@organization) do %>
      <%= content_tag(:li, link_to(t(:digests), organization_digests_path(@organization))) %>
    <% end %>

    <%= content_tag :h1, t(:digest_setup), class: 'title' %>

    <%= form_for @digest, url: organization_digests_path do |f| %>
      <%= render 'form', f: f %>

      <div class="field">
        <p class="control">
          <%= f.submit t(:create), class: 'button is-success' %>
        </p>
      </div>
    <% end %>
  </div>
</div>
