<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <%= breadcrumb(@organization) do %>
      <%= content_tag(:li, link_to(t(:emails), organization_emails_path(@organization))) %>
    <% end %>

    <%= content_tag :h1, t(:email_setup), class: 'title' %>

    <%= form_for @email, url: organization_email_path(@organization, @email) do |f| %>
      <%= render 'form', f: f %>

      <div class="field">
        <p class="control">
          <%= f.submit t(:update), class: 'button is-success' %>
          <%= link_to organization_email_path(@organization, @email), method: :delete, class: 'delete button remove_fields existing', data: { confirm: t(:are_you_sure) } do %>
            <span class="icon is-small is-left">
              <i class="fa fa-trash"></i>
            </span>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>
